allow hal_evs_driver hal_evs_hwservice:hwservice_manager add;
allow hal_evs_driver hidl_base_hwservice:hwservice_manager add;
allow hal_evs_driver sysfs_kgsl:dir search;
